# Auto detect text files and perform LF normalization
* text=auto
*.psd filter=lfs diff=lfs merge=lfs -text
documentary.mp4 filter=lfs diff=lfs merge=lfs -text
docmentary.mp4 filter=lfs diff=lfs merge=lfs -text
